.Header {
  background-color: #333;
  color: #FFF;
  padding: 20px;
  display: flex;
  align-items: baseline;
}
.Title {
  font-weight: 300;
  font-size: 2em;
  margin: 0;
}
.SubTitle {
  font-weight: 300;
  margin: 0;
}
.Spacer {
  margin: 0 10px;
  font-size: 2em;
}
