.Table {
  width: 100%;
  th {
    text-align: left;
  }
}
.Header {
  width: 100%;
  background-color: #111;
  color: white;
  padding: 10px;
  display: none;
  flex-direction: column;
  @media(min-width: 800px) {
    display: flex;
    flex-direction: row;
  }
}
.Content {
}
.Trip {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;;
  @media(min-width: 800px) {
    flex-direction: row;
  }
}
.Trip:nth-child(2n) {
  background-color: #ECECEC;
}
.Column {
  padding: 2px 0;
  @media(min-width: 800px) {
    width: 16%;
  }
}
