.Countries {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

$darken1: color(#9BDF46 shade(10%));
$darken2: color(#25A55F shade(10%));

.Country {
  margin: 20px 0;
}
.Cities {
  margin: 10px 0;
}
.Header {
  font-size: 2em;
}
