.Countries {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

$darken1: color(#9BDF46 shade(10%));
$darken2: color(#25A55F shade(10%));

.Country {
  margin: 20px 0;
}
.Cities {
  margin: 10px 0;
}
.Header {
  font-size: 2em;
}
.CityImage {
  width: 100%;
  max-width: 400px;
  img {
    width: 100%;
  }
}
.City {
  font-size: 1.5em;
  position: relative;
  display: inline-block;
}
.CityHeader {
  position: absolute;;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  padding: 10px;
  color: black;
}
