.Countries {
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
}

$darken1: color(#9BDF46 shade(10%));
$darken2: color(#25A55F shade(10%));

.Country {
  margin: 20px 0;
  max-width: 400px;
  width: 100%;
  padding: 0 10px;
}
.Cities {
  margin: 10px 0;
}
.Header {
  font-size: 2em;
  color: #111;
}
