.Wrapper {
  background: linear-gradient(color(#1e90ff shade(18%)), color(#1e90ff shade(40%)));
}
.Links {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  color: white;
  padding: 5px 10px;
  flex-direction: column;
  @media(min-width: 800px) {
    padding: 0 10px;
    flex-direction: row;
  }
  a {
    color: white;
    font-size: 22px;
    padding: 10px 20px 15px;
    text-decoration: none;
    @media(max-width: 800px) {
      border-bottom: 2px solid color(#1e90ff shade(40%));
    }
    @media(min-width: 800px) {
      border-right: 2px solid color(#1e90ff shade(40%));
    }
    &:hover {
      background: color(#1e90ff shade(50%));
    }
  }
}
.Desc {
  margin: 5px 0 0;
  display: block;
  font-size: small;
}
