.Companies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.Sorting {
  display: flex;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  @media(min-width: 600px) {
    flex-direction: row;
  }
}
.SortOption {
  margin: 0 10px;
  width: 100%;
  div {
    width: 100%;
  }
}
