.HelloWorld {
  margin: 15px 0;
  background-color: #00BCD4;
  padding: 30px;
  color: #FFF;
  font-size: 1.2em;
  min-height: 350px;
  background-size: cover;
  background-position-y: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    margin: 0 0 15px;
    span {
      background: rgba(0,0,0,0.5);
      padding: 5px;
    }
  }
}
